<div class="container">  
  <div class="text-center mb-4">
    <h1 class="display-4">Exames</h1>
  </div>
  
  <section id="tests-list" 
            class="mb-5 d-flex flex-wrap gap-3 justify-content-center">
  </section>
  
  <div id="navigation-btns" 
        class="d-flex gap-1 justify-content-center align-items-center mb-4">
    <button class="btn btn-outline-dark" 
            title="Primeira"
            onclick="firstPage()">&larr;&larr;</button>
    <button class="btn btn-outline-dark"
            title="Anterior"
            onclick="previousPage()">&larr;</button>
    
    <span class="display-7 fs-3 ms-3 me-3"
          id="page-number"></span>
    
    <button class="btn btn-outline-dark"
            title="Próxima"
            onclick="nextPage()">&rarr;</button>
  </div>
</div>

<script src="indexScripts.js"></script>
